p {font-family: 'IM Fell Great Primer SC', serif;}
a:hover{
  color:black;
}
a {
  color:orange;
}
    body {background-attachment: fixed;} 
    body {background-repeat: no-repeat;}
    body {background-position: center center;}
    body {background-size: cover;}
